body{
	background-image:url('Hospital pic1.jpg');
	background-size:cover;
}
input[type="text"]{
	color:black;
}
.hh  input type{
	background-color:aqua;
	
}
#ff{
	background-color:transparent;
}